<configuration>
  <system.webServer>
    <!-- 
      iisnode configuration:
      - node_env: environment variable
      - loggingEnabled: enable/disable logging
      - devErrorsEnabled: detailed errors
    -->
    <iisnode 
      node_env="production"
      loggingEnabled="true"
      devErrorsEnabled="true"
      watchedFiles="web.config;*.js"
    />

    <handlers>
      <!-- Indicates that the server.js file is a node.js application to be handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- 
      Enable WebSockets:
      Crucial for the socket.io / ws library to work properly under IIS.
    -->
    <webSocket enabled="false" />
    
  </system.webServer>
</configuration>
