USE [master]
GO
/****** Object:  Database [BD_TRAZZO]    Script Date: 01/02/2026 16:48:27 ******/
CREATE DATABASE [BD_TRAZZO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_TRAZZO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BD_TRAZZO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_TRAZZO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BD_TRAZZO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_TRAZZO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_TRAZZO]
GO
USE [BD_TRAZZO]
GO
/****** Object:  Table [dbo].[DASISTENCIA]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DASISTENCIA](
	[iMAsistencia] [bigint] IDENTITY(1,1) NOT NULL,
	[iMContrato] [bigint] NOT NULL,
	[iMHorario] [bigint] NOT NULL,
	[fFecha] [date] NULL,
	[fRegistro] [datetime] NULL,
 CONSTRAINT [PK_DASISTENCIA] PRIMARY KEY CLUSTERED 
(
	[iMAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DASISTENCIA_MARCACION]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DASISTENCIA_MARCACION](
	[iMMarcacion] [bigint] IDENTITY(1,1) NOT NULL,
	[iMAsistencia] [bigint] NOT NULL,
	[iMEmpleado] [bigint] NOT NULL,
	[iMContrato] [bigint] NOT NULL,
	[fMarcacion] [datetime] NULL,
	[iMTipoMarcacion] [int] NULL,
	[tDispositivo] [varchar](50) NULL,
 CONSTRAINT [PK_DASISTENCIA_MARCACION] PRIMARY KEY CLUSTERED 
(
	[iMMarcacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DBITACORA]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBITACORA](
	[iMBitacora] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NULL,
	[iMPadre] [bigint] NULL,
	[iMAreaSolicitante] [bigint] NULL,
	[iMAreaResponsable] [bigint] NULL,
	[iMCanalContacto] [int] NULL,
	[iCodigo] [int] NULL,
	[tTelefonoContacto] [varchar](15) NULL,
	[tTipo] [varchar](1) NOT NULL,
	[tTitulo] [nvarchar](200) NOT NULL,
	[tDescripcion] [nvarchar](max) NOT NULL,
	[tPrioridad] [varchar](7) NULL,
	[Estado] [varchar](20) NULL,
	[iMSolicitante] [bigint] NOT NULL,
	[iMResponsable] [bigint] NOT NULL,
	[iMProyecto] [bigint] NOT NULL,
	[iMSocio] [bigint] NOT NULL,
	[fRegistro] [datetime] NULL,
	[fAsignacionTiempo] [datetime] NULL,
	[fCierre] [datetime] NULL,
	[fInicio] [datetime] NULL,
	[fFin] [datetime] NULL,
	[nMinutosEstimado] [int] NULL,
	[nMinutosReal] [int] NULL,
	[fEliminacion] [datetime] NULL,
	[lEliminado] [bit] NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
 CONSTRAINT [PK__MBITACOR__AD25CD0C21AA84CD] PRIMARY KEY CLUSTERED 
(
	[iMBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DBITACORA_HISTORIAL]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBITACORA_HISTORIAL](
	[iMHistorial] [bigint] IDENTITY(1,1) NOT NULL,
	[iMBitacora] [bigint] NULL,
	[iMEmpresa] [bigint] NULL,
	[fInicio] [datetime] NULL,
	[fRegistro] [datetime] NULL,
	[fFin] [datetime] NULL,
	[lCierre] [bit] NULL,
	[iMUsuarioCierre] [bigint] NULL,
	[iMMotivoCierre] [bigint] NULL,
	[tEstado] [varchar](20) NULL,
	[tComentario] [varchar](max) NULL,
	[iUsuarioRegistro] [bigint] NULL,
 CONSTRAINT [PK__MHISTORI__975206EFF7D5872D] PRIMARY KEY CLUSTERED 
(
	[iMHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAREA]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAREA](
	[iMArea] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NOT NULL,
	[tArea] [varchar](50) NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[lActivo] [nchar](10) NULL,
 CONSTRAINT [PK_MAREA] PRIMARY KEY CLUSTERED 
(
	[iMArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MCANAL_CONTACTO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCANAL_CONTACTO](
	[iMCanalContacto] [int] IDENTITY(1,1) NOT NULL,
	[tCanal] [varchar](50) NULL,
	[iMEmpresa] [bigint] NULL,
	[lPredeterminado] [bit] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MCANAL_CONTACTO] PRIMARY KEY CLUSTERED 
(
	[iMCanalContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MCARGO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCARGO](
	[iMCargo] [int] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NOT NULL,
	[tCargo] [varchar](50) NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MCARGO] PRIMARY KEY CLUSTERED 
(
	[iMCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MCATEGORIA_PERMISO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCATEGORIA_PERMISO](
	[iMCategoriaPermiso] [int] IDENTITY(1,1) NOT NULL,
	[tCategoria] [varchar](50) NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MCATEGORIA_PERMISO] PRIMARY KEY CLUSTERED 
(
	[iMCategoriaPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MCONDICION_LABORAL]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCONDICION_LABORAL](
	[iMCondicionLaboral] [int] IDENTITY(1,1) NOT NULL,
	[tCondicionLaboral] [varchar](50) NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MCONDICION_LABORAL] PRIMARY KEY CLUSTERED 
(
	[iMCondicionLaboral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMPLEADO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMPLEADO](
	[iMEmpleado] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NOT NULL,
	[tNombres] [varchar](50) NULL,
	[tApellidos] [varchar](50) NULL,
	[iMTipoDocumento] [int] NOT NULL,
	[tNroDocumento] [varchar](15) NULL,
	[fNacimiento] [date] NULL,
	[tSexo] [varchar](1) NULL,
	[iMEstadoCivil] [int] NOT NULL,
	[tTelefono] [varchar](9) NULL,
	[tEmail] [varchar](100) NOT NULL,
	[iMCargo] [int] NOT NULL,
	[iMArea] [bigint] NOT NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[fBaja] [datetime] NULL,
	[iUsuarioBaja] [bigint] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MEMPLEADO] PRIMARY KEY CLUSTERED 
(
	[iMEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMPLEADO_CONTRATO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMPLEADO_CONTRATO](
	[iMContrato] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpleado] [bigint] NOT NULL,
	[iMEmpresa] [bigint] NOT NULL,
	[iMSede] [bigint] NULL,
	[iMCondicionLaboral] [int] NOT NULL,
	[iMJornada] [int] NOT NULL,
	[tEstadoLaboral] [varchar](50) NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[fBaja] [datetime] NULL,
	[iUsuarioBaja] [bigint] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MEMPLEADO_CONTRATO] PRIMARY KEY CLUSTERED 
(
	[iMContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMPRESA]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMPRESA](
	[iMEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[tRuc] [varchar](11) NULL,
	[tRazonSocial] [varchar](250) NULL,
	[tNombreComercial] [varchar](250) NULL,
	[tRepresentante] [varchar](250) NULL,
	[tTelefono] [varchar](15) NULL,
	[tDireccion] [varchar](max) NULL,
	[tCorreo] [varchar](100) NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioBaja] [bigint] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fBaja] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MEMPRESA_1] PRIMARY KEY CLUSTERED 
(
	[iMEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESTADO_CIVIL]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESTADO_CIVIL](
	[iMEstadoCivil] [int] IDENTITY(1,1) NOT NULL,
	[tEstadoCivil] [varchar](50) NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MESTADO_CIVIL] PRIMARY KEY CLUSTERED 
(
	[iMEstadoCivil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEVIDENCIAS]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEVIDENCIAS](
	[iMEvidencia] [bigint] IDENTITY(1,1) NOT NULL,
	[iMBitacora] [bigint] NULL,
	[iMEmpresa] [bigint] NULL,
	[tRutaArchivo] [nvarchar](max) NOT NULL,
	[tNombreArchivo] [varchar](250) NULL,
	[iPesoKb] [int] NULL,
	[tRutaMiniatura] [nvarchar](max) NULL,
	[lEliminado] [int] NULL,
	[fCarga] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
 CONSTRAINT [PK__MEVIDENC__4D9FCB48AD1EB395] PRIMARY KEY CLUSTERED 
(
	[iMEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MHISTORIAL_CONTRATO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MHISTORIAL_CONTRATO](
	[iMHistorialContrato] [bigint] IDENTITY(1,1) NOT NULL,
	[iMContrato] [bigint] NOT NULL,
	[tCampoModificado] [varchar](50) NULL,
	[tValorPrevio] [varchar](100) NULL,
	[tValorActual] [varchar](100) NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fRegistro] [datetime] NULL,
 CONSTRAINT [PK_MHISTORIAL_CONTRATO] PRIMARY KEY CLUSTERED 
(
	[iMHistorialContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MHORARIO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MHORARIO](
	[iMHorario] [bigint] IDENTITY(1,1) NOT NULL,
	[iMContrato] [bigint] NOT NULL,
	[iDiaSemana] [varchar](1) NULL,
	[lLaborable] [bit] NULL,
	[fEntrada] [time](7) NULL,
	[fSalida] [time](7) NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
 CONSTRAINT [PK_MHORARIO] PRIMARY KEY CLUSTERED 
(
	[iMHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MHORARIO_REFRIGERIO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MHORARIO_REFRIGERIO](
	[iMRefrigerio] [bigint] IDENTITY(1,1) NOT NULL,
	[iMHorario] [bigint] NOT NULL,
	[tDescripcion] [varchar](50) NULL,
	[fFinRefrigerio] [time](7) NULL,
	[fInicioRefrigerio] [time](7) NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MHORARIO_REFRIGERIO] PRIMARY KEY CLUSTERED 
(
	[iMRefrigerio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MJORNADA]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MJORNADA](
	[iMJornada] [int] IDENTITY(1,1) NOT NULL,
	[tJornada] [varchar](50) NULL,
	[tDescripcion] [varchar](250) NULL,
	[lPredeterminado] [bit] NULL,
	[iMEmpresa] [bigint] NULL,
	[fBaja] [datetime] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MJORNADA] PRIMARY KEY CLUSTERED 
(
	[iMJornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MMOTIVO_CIERRE]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MMOTIVO_CIERRE](
	[iMMotivoCierre] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NULL,
	[tMotivoCierre] [varchar](50) NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[lActivo] [nchar](10) NULL,
 CONSTRAINT [PK_MMOTIVO_CIERRE] PRIMARY KEY CLUSTERED 
(
	[iMMotivoCierre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPERMISO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPERMISO](
	[iMPermiso] [int] IDENTITY(1,1) NOT NULL,
	[iMCategoriaPermiso] [int] NOT NULL,
	[tPermiso] [varchar](100) NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[lActivo] [nchar](10) NULL,
 CONSTRAINT [PK_MPERMISO] PRIMARY KEY CLUSTERED 
(
	[iMPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPROYECTO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPROYECTO](
	[iMProyecto] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NULL,
	[tProyecto] [varchar](50) NULL,
	[tDescripcion] [varchar](max) NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MPROYECTO] PRIMARY KEY CLUSTERED 
(
	[iMProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPROYECTO_TIPO_DETALLE]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPROYECTO_TIPO_DETALLE](
	[iMProyecto] [bigint] NOT NULL,
	[iMTipoProyecto] [int] NOT NULL,
	[iMEmpresa] [bigint] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MPROYECTO_TIPO_DETALLE] PRIMARY KEY CLUSTERED 
(
	[iMProyecto] ASC,
	[iMTipoProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MROL]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MROL](
	[iMRol] [bigint] IDENTITY(1,1) NOT NULL,
	[tRol] [varchar](50) NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MROL] PRIMARY KEY CLUSTERED 
(
	[iMRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MSEDE]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSEDE](
	[iMSede] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NOT NULL,
	[tSede] [varchar](50) NULL,
	[tDireccion] [varchar](max) NULL,
	[tTelefono] [varchar](15) NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[fBaja] [datetime] NULL,
	[iUsuarioBaja] [bigint] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MSEDE] PRIMARY KEY CLUSTERED 
(
	[iMSede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MSOCIO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSOCIO](
	[iMSocio] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NULL,
	[tRuc] [varchar](11) NULL,
	[tRazonSocial] [varchar](250) NULL,
	[lPredeterminado] [bit] NULL,
	[fModificacion] [datetime] NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MEMPRESA] PRIMARY KEY CLUSTERED 
(
	[iMSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MSUSPENSION]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSUSPENSION](
	[iMSuspension] [bigint] IDENTITY(1,1) NOT NULL,
	[iMContrato] [bigint] NOT NULL,
	[tCondicion] [varchar](2) NULL,
	[iMTipoSuspension] [int] NOT NULL,
	[fDesde] [date] NULL,
	[fHasta] [date] NULL,
	[tObservacion] [varchar](max) NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[fBaja] [datetime] NULL,
	[iUsuarioBaja] [bigint] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MINCIDENCIA_LABORAL] PRIMARY KEY CLUSTERED 
(
	[iMSuspension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MTIPO_DOCUMENTO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTIPO_DOCUMENTO](
	[iMTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[tTipoDocumento] [varchar](50) NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MTIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[iMTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MTIPO_MARCACION]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTIPO_MARCACION](
	[iMTipoMarcacion] [int] IDENTITY(1,1) NOT NULL,
	[tEvento] [varchar](50) NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MTIPO_MARCACION] PRIMARY KEY CLUSTERED 
(
	[iMTipoMarcacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MTIPO_PROYECTO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTIPO_PROYECTO](
	[iMTipoProyecto] [int] IDENTITY(1,1) NOT NULL,
	[iMEmpresa] [bigint] NULL,
	[tTipoProyecto] [varchar](50) NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MTIPO_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[iMTipoProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MTIPO_SUSPENSION]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTIPO_SUSPENSION](
	[iMTipoSuspension] [int] IDENTITY(1,1) NOT NULL,
	[tTipoSuspension] [varchar](100) NULL,
	[tDescripcion] [varchar](250) NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fRegistro] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MTIPO_SUSPENSION] PRIMARY KEY CLUSTERED 
(
	[iMTipoSuspension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MTURNO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTURNO](
	[iMTurno] [bigint] IDENTITY(1,1) NOT NULL,
	[tTurno] [varchar](50) NULL,
	[iMJornada] [int] NOT NULL,
	[iMEmpresa] [bigint] NULL,
	[fBaja] [datetime] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MTURNO] PRIMARY KEY CLUSTERED 
(
	[iMTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSUARIO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSUARIO](
	[iMUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[iMEmpleado] [bigint] NULL,
	[tNombreRed] [varchar](250) NOT NULL,
	[tEmailEmpresa] [varchar](100) NOT NULL,
	[iMRol] [bigint] NOT NULL,
	[tPassword] [nvarchar](max) NOT NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioBaja] [bigint] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fBaja] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK__MUSUARIO__2B3DE798C8E2EB19] PRIMARY KEY CLUSTERED 
(
	[iMUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSUARIO_EMPRESA]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSUARIO_EMPRESA](
	[iMDetalle] [bigint] IDENTITY(1,1) NOT NULL,
	[iMUsuario] [bigint] NOT NULL,
	[iMEmpresa] [bigint] NOT NULL,
	[lPredeterminado] [bit] NULL,
	[lActivo] [bit] NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[iUsuarioModificacion] [bigint] NULL,
 CONSTRAINT [PK_MUSUARIO_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[iMDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSUARIO_PERMISO]    Script Date: 01/02/2026 16:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSUARIO_PERMISO](
	[iMDetalle] [bigint] IDENTITY(1,1) NOT NULL,
	[iMUsuario] [bigint] NOT NULL,
	[iMPermiso] [int] NOT NULL,
	[fRegistro] [datetime] NULL,
	[iUsuarioBaja] [bigint] NULL,
	[iUsuarioRegistro] [bigint] NULL,
	[fModificacion] [datetime] NULL,
	[iUsuarioModificacion] [bigint] NULL,
	[fBaja] [datetime] NULL,
	[lActivo] [bit] NULL,
 CONSTRAINT [PK_MUSUARIO_PERMISO] PRIMARY KEY CLUSTERED 
(
	[iMDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DBITACORA] ON 

SET IDENTITY_INSERT [dbo].[DBITACORA] OFF
GO
SET IDENTITY_INSERT [dbo].[MEVIDENCIAS] ON 

INSERT [dbo].[MEVIDENCIAS] ([iMEvidencia], [iMBitacora], [iMEmpresa], [tRutaArchivo], [tNombreArchivo], [iPesoKb], [tRutaMiniatura], [lEliminado], [fCarga], [iUsuarioRegistro]) VALUES (82, 16, NULL, N'D:\Bitacora\Bitacora\BitacoraApi\bin\Release\net8.0\publish\Evidencias\16\logo.png', N'logo.png', 437, N'D:\Bitacora\Bitacora\BitacoraApi\bin\Release\net8.0\publish\Evidencias\16\thumb_logo.png', 0, CAST(N'2026-01-17T18:03:28.540' AS DateTime), NULL)
INSERT [dbo].[MEVIDENCIAS] ([iMEvidencia], [iMBitacora], [iMEmpresa], [tRutaArchivo], [tNombreArchivo], [iPesoKb], [tRutaMiniatura], [lEliminado], [fCarga], [iUsuarioRegistro]) VALUES (83, 16, NULL, N'D:\Bitacora\Bitacora\BitacoraApi\bin\Release\net8.0\publish\Evidencias\16\Asientos 2022.xlsm', N'Asientos 2022.xlsm', 19546, NULL, 0, CAST(N'2026-01-17T18:03:28.553' AS DateTime), NULL)
INSERT [dbo].[MEVIDENCIAS] ([iMEvidencia], [iMBitacora], [iMEmpresa], [tRutaArchivo], [tNombreArchivo], [iPesoKb], [tRutaMiniatura], [lEliminado], [fCarga], [iUsuarioRegistro]) VALUES (84, 16, NULL, N'D:\Bitacora\Bitacora\BitacoraApi\bin\Release\net8.0\publish\Evidencias\16\PBM 17 TITULO.pdf', N'PBM 17 TITULO.pdf', 2951, NULL, 0, CAST(N'2026-01-17T18:03:28.557' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MEVIDENCIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[MJORNADA] ON 

INSERT [dbo].[MJORNADA] ([iMJornada], [tJornada], [tDescripcion], [lPredeterminado], [iMEmpresa], [fBaja], [fRegistro], [iUsuarioRegistro], [fModificacion], [lActivo]) VALUES (1, N'Tiempo Completo (Full-time)', N'La jornada máxima legal (ej. 48 horas semanales en Perú).', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MJORNADA] ([iMJornada], [tJornada], [tDescripcion], [lPredeterminado], [iMEmpresa], [fBaja], [fRegistro], [iUsuarioRegistro], [fModificacion], [lActivo]) VALUES (2, N'Tiempo Parcial (Part-time)', N'Menos de la jornada máxima (ej. menos de 24 horas semanales para no pagar ciertos beneficios).', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MJORNADA] ([iMJornada], [tJornada], [tDescripcion], [lPredeterminado], [iMEmpresa], [fBaja], [fRegistro], [iUsuarioRegistro], [fModificacion], [lActivo]) VALUES (3, N'Por Horas', N'El pago y la asistencia se miden estrictamente por horas laboradas (común en profesores o consultores).', NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MJORNADA] OFF
GO
SET IDENTITY_INSERT [dbo].[MPROYECTO] ON 

INSERT [dbo].[MPROYECTO] ([iMProyecto], [iMEmpresa], [tProyecto], [tDescripcion], [fRegistro], [iUsuarioRegistro], [lActivo]) VALUES (1, NULL, N'Fast', NULL, NULL, 2, 1)
INSERT [dbo].[MPROYECTO] ([iMProyecto], [iMEmpresa], [tProyecto], [tDescripcion], [fRegistro], [iUsuarioRegistro], [lActivo]) VALUES (2, NULL, N'BackOffice', NULL, NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[MPROYECTO] OFF
GO
SET IDENTITY_INSERT [dbo].[MROL] ON 

INSERT [dbo].[MROL] ([iMRol], [tRol], [lActivo]) VALUES (1, N'Gestor', 1)
INSERT [dbo].[MROL] ([iMRol], [tRol], [lActivo]) VALUES (2, N'Desarrollador', 1)
SET IDENTITY_INSERT [dbo].[MROL] OFF
GO
SET IDENTITY_INSERT [dbo].[MSOCIO] ON 

INSERT [dbo].[MSOCIO] ([iMSocio], [iMEmpresa], [tRuc], [tRazonSocial], [lPredeterminado], [fModificacion], [iUsuarioModificacion], [fRegistro], [iUsuarioRegistro], [lActivo]) VALUES (1, NULL, NULL, N'Sertech', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MSOCIO] ([iMSocio], [iMEmpresa], [tRuc], [tRazonSocial], [lPredeterminado], [fModificacion], [iUsuarioModificacion], [fRegistro], [iUsuarioRegistro], [lActivo]) VALUES (2, NULL, NULL, N'Votorantim', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MSOCIO] ([iMSocio], [iMEmpresa], [tRuc], [tRazonSocial], [lPredeterminado], [fModificacion], [iUsuarioModificacion], [fRegistro], [iUsuarioRegistro], [lActivo]) VALUES (3, NULL, NULL, N'Newmont', NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MSOCIO] OFF
GO
SET IDENTITY_INSERT [dbo].[MTIPO_MARCACION] ON 

INSERT [dbo].[MTIPO_MARCACION] ([iMTipoMarcacion], [tEvento], [lActivo]) VALUES (1, N'ENTRADA_JORNADA', 1)
INSERT [dbo].[MTIPO_MARCACION] ([iMTipoMarcacion], [tEvento], [lActivo]) VALUES (2, N'SALIDA_INTERMEDIO', 1)
INSERT [dbo].[MTIPO_MARCACION] ([iMTipoMarcacion], [tEvento], [lActivo]) VALUES (3, N'RETORNO_INTERMEDIO', 1)
SET IDENTITY_INSERT [dbo].[MTIPO_MARCACION] OFF
GO
SET IDENTITY_INSERT [dbo].[MTIPO_PROYECTO] ON 

INSERT [dbo].[MTIPO_PROYECTO] ([iMTipoProyecto], [iMEmpresa], [tTipoProyecto], [iUsuarioRegistro], [fRegistro], [lActivo]) VALUES (1, NULL, N'RPA', NULL, NULL, 1)
INSERT [dbo].[MTIPO_PROYECTO] ([iMTipoProyecto], [iMEmpresa], [tTipoProyecto], [iUsuarioRegistro], [fRegistro], [lActivo]) VALUES (2, NULL, N'Web', NULL, NULL, 1)
INSERT [dbo].[MTIPO_PROYECTO] ([iMTipoProyecto], [iMEmpresa], [tTipoProyecto], [iUsuarioRegistro], [fRegistro], [lActivo]) VALUES (3, NULL, N'Móvil', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MTIPO_PROYECTO] OFF
GO
SET IDENTITY_INSERT [dbo].[MTIPO_SUSPENSION] ON 

INSERT [dbo].[MTIPO_SUSPENSION] ([iMTipoSuspension], [tTipoSuspension], [tDescripcion], [iUsuarioRegistro], [fRegistro], [lActivo]) VALUES (1, N'S.P. SANCIÓN DISCIPLINARIA', N'S.P. SANCIÓN DISCIPLINARIA', NULL, NULL, 1)
INSERT [dbo].[MTIPO_SUSPENSION] ([iMTipoSuspension], [tTipoSuspension], [tDescripcion], [iUsuarioRegistro], [fRegistro], [lActivo]) VALUES (2, N'S.P. EJERCICIO DERECHO HUELGA', N'S.P. EJERCICIO DEL DERECHO DE HUELGA', NULL, NULL, 1)
INSERT [dbo].[MTIPO_SUSPENSION] ([iMTipoSuspension], [tTipoSuspension], [tDescripcion], [iUsuarioRegistro], [fRegistro], [lActivo]) VALUES (3, N'S.P. DETENCIÓN DEL TRABAJADOR', N'S.P. DETENCIÓN DEL TRABAJADOR, SALVO EL CASO DE CONDENA PRIVATIVA DE LA LIBERTAD', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MTIPO_SUSPENSION] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSUARIO] ON 

INSERT [dbo].[MUSUARIO] ([iMUsuario], [iMEmpleado], [tNombreRed], [tEmailEmpresa], [iMRol], [tPassword], [fRegistro], [iUsuarioBaja], [iUsuarioRegistro], [fModificacion], [iUsuarioModificacion], [fBaja], [lActivo]) VALUES (2, NULL, N'Juan Jose Villanueva Silva', N'gestor1@sertech.pe', 1, N'AaCGAQBp7I04a+0tskM28mQXye6MmZ58LrZHpJgOJ8/ugAbRAFddJbRWGTdaYHo6GWPURbA=', CAST(N'2026-01-15T03:52:59.903' AS DateTime), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MUSUARIO] ([iMUsuario], [iMEmpleado], [tNombreRed], [tEmailEmpresa], [iMRol], [tPassword], [fRegistro], [iUsuarioBaja], [iUsuarioRegistro], [fModificacion], [iUsuarioModificacion], [fBaja], [lActivo]) VALUES (4, NULL, N'Ronal Samuel Gonzales Rodriguez', N'dev1@sertech.pe', 2, N'AaCGAQBp7I04a+0tskM28mQXye6MmZ58LrZHpJgOJ8/ugAbRAFddJbRWGTdaYHo6GWPURbA=', CAST(N'2026-01-15T03:53:44.937' AS DateTime), NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MUSUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MUSUARIO__A9D105347F374C06]    Script Date: 01/02/2026 16:48:27 ******/
ALTER TABLE [dbo].[MUSUARIO] ADD  CONSTRAINT [UQ__MUSUARIO__A9D105347F374C06] UNIQUE NONCLUSTERED 
(
	[tEmailEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DBITACORA] ADD  CONSTRAINT [DF__MBITACORA__Prior__403A8C7D]  DEFAULT ('MEDIA') FOR [tPrioridad]
GO
ALTER TABLE [dbo].[DBITACORA] ADD  CONSTRAINT [DF__MBITACORA__Estad__412EB0B6]  DEFAULT ('ABIERTO') FOR [Estado]
GO
ALTER TABLE [dbo].[DBITACORA] ADD  CONSTRAINT [DF__MBITACORA__Fecha__4222D4EF]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[DBITACORA] ADD  CONSTRAINT [DF__MBITACORA__Minut__4316F928]  DEFAULT ((0)) FOR [nMinutosEstimado]
GO
ALTER TABLE [dbo].[DBITACORA] ADD  CONSTRAINT [DF__MBITACORA__Minut__440B1D61]  DEFAULT ((0)) FOR [nMinutosReal]
GO
ALTER TABLE [dbo].[DBITACORA_HISTORIAL] ADD  CONSTRAINT [DF__MHISTORIA__Fecha__45F365D3]  DEFAULT (getdate()) FOR [fInicio]
GO
ALTER TABLE [dbo].[MEMPRESA] ADD  CONSTRAINT [DF_MEMPRESA_fRegistro]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MEVIDENCIAS] ADD  CONSTRAINT [DF__MEVIDENCI__Fecha__44FF419A]  DEFAULT (getdate()) FOR [fCarga]
GO
ALTER TABLE [dbo].[MUSUARIO] ADD  CONSTRAINT [DF__MUSUARIO__FechaR__49C3F6B7]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MUSUARIO_PERMISO] ADD  CONSTRAINT [DF_MUSUARIO_PERMISO_fRegistro]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[DASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_DASISTENCIA_MEMPLEADO_CONTRATO] FOREIGN KEY([iMContrato])
REFERENCES [dbo].[MEMPLEADO_CONTRATO] ([iMContrato])
GO
ALTER TABLE [dbo].[DASISTENCIA] CHECK CONSTRAINT [FK_DASISTENCIA_MEMPLEADO_CONTRATO]
GO
ALTER TABLE [dbo].[DASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_DASISTENCIA_MHORARIO] FOREIGN KEY([iMHorario])
REFERENCES [dbo].[MHORARIO] ([iMHorario])
GO
ALTER TABLE [dbo].[DASISTENCIA] CHECK CONSTRAINT [FK_DASISTENCIA_MHORARIO]
GO
ALTER TABLE [dbo].[DASISTENCIA_MARCACION]  WITH CHECK ADD  CONSTRAINT [FK_DASISTENCIA_MARCACION_DASISTENCIA] FOREIGN KEY([iMAsistencia])
REFERENCES [dbo].[DASISTENCIA] ([iMAsistencia])
GO
ALTER TABLE [dbo].[DASISTENCIA_MARCACION] CHECK CONSTRAINT [FK_DASISTENCIA_MARCACION_DASISTENCIA]
GO
ALTER TABLE [dbo].[DASISTENCIA_MARCACION]  WITH CHECK ADD  CONSTRAINT [FK_DASISTENCIA_MARCACION_MTIPO_MARCACION] FOREIGN KEY([iMTipoMarcacion])
REFERENCES [dbo].[MTIPO_MARCACION] ([iMTipoMarcacion])
GO
ALTER TABLE [dbo].[DASISTENCIA_MARCACION] CHECK CONSTRAINT [FK_DASISTENCIA_MARCACION_MTIPO_MARCACION]
GO
ALTER TABLE [dbo].[DBITACORA]  WITH CHECK ADD  CONSTRAINT [FK_DBITACORA_MCANAL_CONTACTO] FOREIGN KEY([iMCanalContacto])
REFERENCES [dbo].[MCANAL_CONTACTO] ([iMCanalContacto])
GO
ALTER TABLE [dbo].[DBITACORA] CHECK CONSTRAINT [FK_DBITACORA_MCANAL_CONTACTO]
GO
ALTER TABLE [dbo].[DBITACORA]  WITH CHECK ADD  CONSTRAINT [FK_DBITACORA_MEMPRESA] FOREIGN KEY([iMSocio])
REFERENCES [dbo].[MSOCIO] ([iMSocio])
GO
ALTER TABLE [dbo].[DBITACORA] CHECK CONSTRAINT [FK_DBITACORA_MEMPRESA]
GO
ALTER TABLE [dbo].[DBITACORA]  WITH CHECK ADD  CONSTRAINT [FK_DBITACORA_MPROYECTO] FOREIGN KEY([iMProyecto])
REFERENCES [dbo].[MPROYECTO] ([iMProyecto])
GO
ALTER TABLE [dbo].[DBITACORA] CHECK CONSTRAINT [FK_DBITACORA_MPROYECTO]
GO
ALTER TABLE [dbo].[DBITACORA]  WITH CHECK ADD  CONSTRAINT [FK_DBITACORA_MUSUARIO] FOREIGN KEY([iMSolicitante])
REFERENCES [dbo].[MUSUARIO] ([iMUsuario])
GO
ALTER TABLE [dbo].[DBITACORA] CHECK CONSTRAINT [FK_DBITACORA_MUSUARIO]
GO
ALTER TABLE [dbo].[DBITACORA]  WITH CHECK ADD  CONSTRAINT [FK_DBITACORA_MUSUARIO1] FOREIGN KEY([iMResponsable])
REFERENCES [dbo].[MUSUARIO] ([iMUsuario])
GO
ALTER TABLE [dbo].[DBITACORA] CHECK CONSTRAINT [FK_DBITACORA_MUSUARIO1]
GO
ALTER TABLE [dbo].[DBITACORA_HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK_DBITACORA_HISTORIAL_MMOTIVO_CIERRE] FOREIGN KEY([iMMotivoCierre])
REFERENCES [dbo].[MMOTIVO_CIERRE] ([iMMotivoCierre])
GO
ALTER TABLE [dbo].[DBITACORA_HISTORIAL] CHECK CONSTRAINT [FK_DBITACORA_HISTORIAL_MMOTIVO_CIERRE]
GO
ALTER TABLE [dbo].[DBITACORA_HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK_DHISTORIAL_DBITACORA] FOREIGN KEY([iMBitacora])
REFERENCES [dbo].[DBITACORA] ([iMBitacora])
GO
ALTER TABLE [dbo].[DBITACORA_HISTORIAL] CHECK CONSTRAINT [FK_DHISTORIAL_DBITACORA]
GO
ALTER TABLE [dbo].[MEMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_MEMPLEADO_MAREA] FOREIGN KEY([iMArea])
REFERENCES [dbo].[MAREA] ([iMArea])
GO
ALTER TABLE [dbo].[MEMPLEADO] CHECK CONSTRAINT [FK_MEMPLEADO_MAREA]
GO
ALTER TABLE [dbo].[MEMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_MEMPLEADO_MCARGO] FOREIGN KEY([iMCargo])
REFERENCES [dbo].[MCARGO] ([iMCargo])
GO
ALTER TABLE [dbo].[MEMPLEADO] CHECK CONSTRAINT [FK_MEMPLEADO_MCARGO]
GO
ALTER TABLE [dbo].[MEMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_MEMPLEADO_MESTADO_CIVIL] FOREIGN KEY([iMEstadoCivil])
REFERENCES [dbo].[MESTADO_CIVIL] ([iMEstadoCivil])
GO
ALTER TABLE [dbo].[MEMPLEADO] CHECK CONSTRAINT [FK_MEMPLEADO_MESTADO_CIVIL]
GO
ALTER TABLE [dbo].[MEMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_MEMPLEADO_MTIPO_DOCUMENTO] FOREIGN KEY([iMTipoDocumento])
REFERENCES [dbo].[MTIPO_DOCUMENTO] ([iMTipoDocumento])
GO
ALTER TABLE [dbo].[MEMPLEADO] CHECK CONSTRAINT [FK_MEMPLEADO_MTIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[MEMPLEADO_CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_MEMPLEADO_CONTRATO_MCONDICION_LABORAL] FOREIGN KEY([iMCondicionLaboral])
REFERENCES [dbo].[MCONDICION_LABORAL] ([iMCondicionLaboral])
GO
ALTER TABLE [dbo].[MEMPLEADO_CONTRATO] CHECK CONSTRAINT [FK_MEMPLEADO_CONTRATO_MCONDICION_LABORAL]
GO
ALTER TABLE [dbo].[MEMPLEADO_CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_MEMPLEADO_CONTRATO_MEMPLEADO] FOREIGN KEY([iMEmpleado])
REFERENCES [dbo].[MEMPLEADO] ([iMEmpleado])
GO
ALTER TABLE [dbo].[MEMPLEADO_CONTRATO] CHECK CONSTRAINT [FK_MEMPLEADO_CONTRATO_MEMPLEADO]
GO
ALTER TABLE [dbo].[MEMPLEADO_CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_MEMPLEADO_CONTRATO_MJORNADA] FOREIGN KEY([iMJornada])
REFERENCES [dbo].[MJORNADA] ([iMJornada])
GO
ALTER TABLE [dbo].[MEMPLEADO_CONTRATO] CHECK CONSTRAINT [FK_MEMPLEADO_CONTRATO_MJORNADA]
GO
ALTER TABLE [dbo].[MEMPLEADO_CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_MEMPLEADO_CONTRATO_MSEDE] FOREIGN KEY([iMSede])
REFERENCES [dbo].[MSEDE] ([iMSede])
GO
ALTER TABLE [dbo].[MEMPLEADO_CONTRATO] CHECK CONSTRAINT [FK_MEMPLEADO_CONTRATO_MSEDE]
GO
ALTER TABLE [dbo].[MEVIDENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_MEVIDENCIAS_DBITACORA] FOREIGN KEY([iMBitacora])
REFERENCES [dbo].[DBITACORA] ([iMBitacora])
GO
ALTER TABLE [dbo].[MEVIDENCIAS] CHECK CONSTRAINT [FK_MEVIDENCIAS_DBITACORA]
GO
ALTER TABLE [dbo].[MHISTORIAL_CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_MHISTORIAL_CONTRATO_MEMPLEADO_CONTRATO] FOREIGN KEY([iMContrato])
REFERENCES [dbo].[MEMPLEADO_CONTRATO] ([iMContrato])
GO
ALTER TABLE [dbo].[MHISTORIAL_CONTRATO] CHECK CONSTRAINT [FK_MHISTORIAL_CONTRATO_MEMPLEADO_CONTRATO]
GO
ALTER TABLE [dbo].[MHORARIO]  WITH CHECK ADD  CONSTRAINT [FK_MHORARIO_MEMPLEADO_CONTRATO] FOREIGN KEY([iMContrato])
REFERENCES [dbo].[MEMPLEADO_CONTRATO] ([iMContrato])
GO
ALTER TABLE [dbo].[MHORARIO] CHECK CONSTRAINT [FK_MHORARIO_MEMPLEADO_CONTRATO]
GO
ALTER TABLE [dbo].[MHORARIO_REFRIGERIO]  WITH CHECK ADD  CONSTRAINT [FK_MHORARIO_REFRIGERIO_MHORARIO] FOREIGN KEY([iMHorario])
REFERENCES [dbo].[MHORARIO] ([iMHorario])
GO
ALTER TABLE [dbo].[MHORARIO_REFRIGERIO] CHECK CONSTRAINT [FK_MHORARIO_REFRIGERIO_MHORARIO]
GO
ALTER TABLE [dbo].[MPERMISO]  WITH CHECK ADD  CONSTRAINT [FK_MPERMISO_MCATEGORIA_PERMISO] FOREIGN KEY([iMCategoriaPermiso])
REFERENCES [dbo].[MCATEGORIA_PERMISO] ([iMCategoriaPermiso])
GO
ALTER TABLE [dbo].[MPERMISO] CHECK CONSTRAINT [FK_MPERMISO_MCATEGORIA_PERMISO]
GO
ALTER TABLE [dbo].[MPROYECTO_TIPO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_MPROYECTO_TIPO_DETALLE_MPROYECTO] FOREIGN KEY([iMProyecto])
REFERENCES [dbo].[MPROYECTO] ([iMProyecto])
GO
ALTER TABLE [dbo].[MPROYECTO_TIPO_DETALLE] CHECK CONSTRAINT [FK_MPROYECTO_TIPO_DETALLE_MPROYECTO]
GO
ALTER TABLE [dbo].[MPROYECTO_TIPO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_MPROYECTO_TIPO_DETALLE_MTIPO_PROYECTO] FOREIGN KEY([iMTipoProyecto])
REFERENCES [dbo].[MTIPO_PROYECTO] ([iMTipoProyecto])
GO
ALTER TABLE [dbo].[MPROYECTO_TIPO_DETALLE] CHECK CONSTRAINT [FK_MPROYECTO_TIPO_DETALLE_MTIPO_PROYECTO]
GO
ALTER TABLE [dbo].[MSEDE]  WITH CHECK ADD  CONSTRAINT [FK_MSEDE_MEMPRESA] FOREIGN KEY([iMEmpresa])
REFERENCES [dbo].[MEMPRESA] ([iMEmpresa])
GO
ALTER TABLE [dbo].[MSEDE] CHECK CONSTRAINT [FK_MSEDE_MEMPRESA]
GO
ALTER TABLE [dbo].[MSUSPENSION]  WITH CHECK ADD  CONSTRAINT [FK_MINCIDENCIA_LABORAL_MEMPLEADO_CONTRATO] FOREIGN KEY([iMContrato])
REFERENCES [dbo].[MEMPLEADO_CONTRATO] ([iMContrato])
GO
ALTER TABLE [dbo].[MSUSPENSION] CHECK CONSTRAINT [FK_MINCIDENCIA_LABORAL_MEMPLEADO_CONTRATO]
GO
ALTER TABLE [dbo].[MSUSPENSION]  WITH CHECK ADD  CONSTRAINT [FK_MINCIDENCIA_LABORAL_MTIPO_SUSPENSION] FOREIGN KEY([iMTipoSuspension])
REFERENCES [dbo].[MTIPO_SUSPENSION] ([iMTipoSuspension])
GO
ALTER TABLE [dbo].[MSUSPENSION] CHECK CONSTRAINT [FK_MINCIDENCIA_LABORAL_MTIPO_SUSPENSION]
GO
ALTER TABLE [dbo].[MTURNO]  WITH CHECK ADD  CONSTRAINT [FK_MTURNO_MJORNADA] FOREIGN KEY([iMJornada])
REFERENCES [dbo].[MJORNADA] ([iMJornada])
GO
ALTER TABLE [dbo].[MTURNO] CHECK CONSTRAINT [FK_MTURNO_MJORNADA]
GO
ALTER TABLE [dbo].[MUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_MUSUARIO_MEMPLEADO] FOREIGN KEY([iMEmpleado])
REFERENCES [dbo].[MEMPLEADO] ([iMEmpleado])
GO
ALTER TABLE [dbo].[MUSUARIO] CHECK CONSTRAINT [FK_MUSUARIO_MEMPLEADO]
GO
ALTER TABLE [dbo].[MUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_MUSUARIO_MROL] FOREIGN KEY([iMRol])
REFERENCES [dbo].[MROL] ([iMRol])
GO
ALTER TABLE [dbo].[MUSUARIO] CHECK CONSTRAINT [FK_MUSUARIO_MROL]
GO
ALTER TABLE [dbo].[MUSUARIO_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_MUSUARIO_EMPRESA_MEMPRESA] FOREIGN KEY([iMEmpresa])
REFERENCES [dbo].[MEMPRESA] ([iMEmpresa])
GO
ALTER TABLE [dbo].[MUSUARIO_EMPRESA] CHECK CONSTRAINT [FK_MUSUARIO_EMPRESA_MEMPRESA]
GO
ALTER TABLE [dbo].[MUSUARIO_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_MUSUARIO_EMPRESA_MUSUARIO] FOREIGN KEY([iMUsuario])
REFERENCES [dbo].[MUSUARIO] ([iMUsuario])
GO
ALTER TABLE [dbo].[MUSUARIO_EMPRESA] CHECK CONSTRAINT [FK_MUSUARIO_EMPRESA_MUSUARIO]
GO
ALTER TABLE [dbo].[MUSUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_MUSUARIO_PERMISO_MPERMISO] FOREIGN KEY([iMPermiso])
REFERENCES [dbo].[MPERMISO] ([iMPermiso])
GO
ALTER TABLE [dbo].[MUSUARIO_PERMISO] CHECK CONSTRAINT [FK_MUSUARIO_PERMISO_MPERMISO]
GO
ALTER TABLE [dbo].[MUSUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_MUSUARIO_PERMISO_MUSUARIO] FOREIGN KEY([iMUsuario])
REFERENCES [dbo].[MUSUARIO] ([iMUsuario])
GO
ALTER TABLE [dbo].[MUSUARIO_PERMISO] CHECK CONSTRAINT [FK_MUSUARIO_PERMISO_MUSUARIO]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ACTIVO, CESADO, SUSPENDIDO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MEMPLEADO_CONTRATO', @level2type=N'COLUMN',@level2name=N'tEstadoLaboral'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S: SUBSIDIADO NS: NO SUBSIDIADO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MSUSPENSION', @level2type=N'COLUMN',@level2name=N'tCondicion'
GO
USE [master]
GO
