<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 60 MB limit for file uploads -->
        <requestLimits maxAllowedContentLength="62914560" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>